{include file="./header.html"}
<body>
<div class="se-pre-con"></div>
<div class="wrapper">
<div class="header">
	<h1>SIMPLE ARTICLE</h1>
</div>
	<div class="container">
	<div class="content">
	<a class="btn btn-primary" href="{$domain}" value="Back Home">Back Home</a>
		<div class="col-md-9">
			<h1><b>{$getarticle[0]->title}</b></h1>
			<hr>
		</div>
		<article>
			<div  align="justify" class="col-md-9">
			<br />
			<div id="article">
			{$getarticle[0]->body}
			</div>
			</div>
		</article>
		</div>
	</div>
	<div class="footer bottom">
		<h4><center>MARIYANTO</center></h4>
	</div>
</div>
	<hr>	
</body>

<script type="text/javascript">
    $(document).ready(function(){ 
		  $("#article img").attr("width","825");
		  $("#article img").attr("height","300");
		  $("#article img").addClass("img-responsive");
    });
</script>
</html>